.cell {
  width: 40px;
  height: 40px;
  position: relative;
  padding: 0 !important;
}

.cell input {
  border-radius: 0;
  font-weight: bold;
  font-size: 125%;
  text-align: center;
  padding: 0.2rem 0.375rem;
  background-color: transparent;
}

.cell input:focus {
  box-shadow: none;
  background-color: #3a7afd88;
}

.cell input:disabled {
  background-color: #111;
}

.highlight {
  background-color: #3a7afd88;
}

.gridnum {
  z-index: -1000;
  font-size: 50%;
  position: absolute;
  left: 3px;
  top: 1px;
}
